{% extends "layout.html" %}

{% block title %}
    Welcome to Bookaholic!
{% endblock %}

{% block body %}
    <h2>Register An Account</h2>

    <br>
    <form action="{{ url_for('register') }}" method="post">

        <div class="col-7">
                <label for="exampleInputEmail1">Username</label><br>
                <input class="form-control" name="username" type="text" placeholder="User Name">
        </div>
        <br>
        <div class="col-7">
                <label for="exampleInputPassword1">Password</label>
                <input class="form-control" name="password" type="password" placeholder="Password">
        </div>
        <br>
        <div class="col-7">
                <button class=" btn btn-primary">Register</button>
        </div>

    </form>
    <br>
    <div class="alert alert-light">{{ message }}</div>

    <div class="nav-item">
            <a href="{{ url_for('index')}}" class="nav-link" >Back to Login</a>
    </div>
{% endblock %}